$bg: linear-gradient(to right, #757f9a, #d7dde8);

$h1fw: 100;
$h1ls: 2px;
$h1fs: 40px;

$pfw: 200;
$pls: 1px;

$pbw: 400px;
$pbh: 420px;
$pbb: green;
$pbp: 40px;	
$pbc: white;
$pbm-t: 85px;
$pbm-l: 120px;
$float-l: left;
$txtcenter: center;
$txtshadow: 2px 2px #000000;

$inlineblock: inline-block;
$relative: relative;
$hidden: hidden;
$inline: inline;
$relative: relative;
$p200: 200px;


body{
	background: $bg
}
h1{
	font-weight: $h1fw;
	letter-spacing: $h1ls;
	font-size: $h1fs;
}
p{
	font-weight: $pfw;
	letter-spacing: $pls;
}
.prof-box{
	width: $pbw;
	height: $pbh;
	background: $pbb;
	padding: $pbp;
	color: $pbc;
	margin-top: $pbm-t;
	margin-left: $pbm-l;
	float: $float-l;
	text-align: $txtcenter;
	text-shadow: $txtshadow;
}
.prof-pic{
	display: $inlineblock;
  	position: $relative;
  	width: $p200;
  	height: $p200;
  	overflow: $hidden;
  	border-radius: 50%;
}
.line-break{
	width: 400px;
	border-top: 1px solid white;
	margin: 0 auto;
}
.social-media>img{
	display: $inline;
	width: 30px;
    height: 30px;
}
.social-media>img{
	display: $inline;
	width: 30px;
    height: 30px;
}
.skills-box{
	width: 400px;
	height: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin-right: 120px;
	margin-top: 85px;
	float: right;
	text-shadow: 2px 2px #000000;
}
.skills-box p{
	margin: 0 1 10px;
	padding: 0;
	letter-spacing: 1px;
	font-weight: bold;
}
.skills-box p:nth-child(2){
	float: right;
	position: $relative;
	top: -35px;
}
.skill{
	background: #262626;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
}
.skill-level{
	background: #FFFFFF;
	width: 100%;
	height: 8px;
}