body {
  background: linear-gradient(to right, #757f9a, #d7dde8); }

h1 {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 40px; }

p {
  font-weight: 200;
  letter-spacing: 1px; }

.prof-box {
  width: 400px;
  height: 420px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin-top: 85px;
  margin-left: 120px;
  float: left;
  text-align: center;
  text-shadow: 2px 2px #000000; }

.prof-pic {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%; }

.line-break {
  width: 400px;
  border-top: 1px solid white;
  margin: 0 auto; }

.social-media > img {
  display: inline;
  width: 30px;
  height: 30px; }

.social-media > img {
  display: inline;
  width: 30px;
  height: 30px; }

.skills-box {
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin-right: 120px;
  margin-top: 85px;
  float: right;
  text-shadow: 2px 2px #000000; }

.skills-box p {
  margin: 0 1 10px;
  padding: 0;
  letter-spacing: 1px;
  font-weight: bold; }

.skills-box p:nth-child(2) {
  float: right;
  position: relative;
  top: -35px; }

.skill {
  background: #262626;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 2px; }

.skill-level {
  background: #FFFFFF;
  width: 100%;
  height: 8px; }

/*# sourceMappingURL=stylesheet.css.map */
