$bg: linear-gradient(to right, #bdc3c7, #2c3e50);
$text: center;
$font: 25;
$post: relative;
$leff: 90px;
$tops: -180px;
$fam: arial;
$pads: 5px;
$size: 20px;
$bgg: #ededed;
body {
	background: $bg;
	padding: $pads;
}
.imgg {
	background-color: $bgg;
}
.header {

	text-align: $text;
	font-size: $font;
	position: $post;
	left: $leff;
	top: $tops;
	font-family: $fam;
}

.educ {
	background-color: $bgg;
	font-family: $fam;
	padding: $pads;
	font-size: $size;
}
.pers {
	background-color: $bgg;
	font-family: $fam;
	padding: $pads;
	font-size: $size;
}
.skill {
	background-color: $bgg;
	font-family: $fam;
	padding: $pads;
	font-size: $size;
}