$bgcolor: yellow
;
$align: center;
$font: italic;
$lign: underline;
$text: white;

body{
	background-color: $bgcolor;
	

}

h1,h4 {
	text-align:$align;
	font-color:$text;

}

h3 {
  font-style:$font;
	
}
h4 {
	text-decoration:$lign;
}