html{
	background-image: url("bg.jpeg");
	background-size: cover;
}
.prof-box{
	width: 400px;
	height: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 140px;
}
.prof-pic{
	border-radius: 50%
	height: 200px;
	width: 200px;
}
