body {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  padding: 5px; }

.imgg {
  background-color: #ededed; }

.header {
  text-align: center;
  font-size: 25;
  position: relative;
  left: 90px;
  top: -180px;
  font-family: arial; }

.educ {
  background-color: #ededed;
  font-family: arial;
  padding: 5px;
  font-size: 20px; }

.pers {
  background-color: #ededed;
  font-family: arial;
  padding: 5px;
  font-size: 20px; }

.skill {
  background-color: #ededed;
  font-family: arial;
  padding: 5px;
  font-size: 20px; }

/*# sourceMappingURL=stylesheet.css.map */
