h1 {
  font-family: "Times New Roman";
  color: red; }

h2 {
  font-family: "Times New Roman";
  color: red; }

h4 {
  color: maroon;
  font-weight: bold; }

#c1 {
  background-color: pink; }

#first img {
  float: left;
  display: inline-block;
  padding-right: 30px;
  width: 45%; }

#paragraph2 {
  margin-left: 3px; }

.container {
  margin-top: 50px; }

.socM {
  background-color: pink;
  padding-top: 50px;
  padding-bottom: 40px;
  text-decoration: underline;
  color: black; }

#What {
  background-color: pink;
  padding: 20px; }

#ul1 {
  margin-left: -20px; }

footer {
  background-color: pink;
  padding: 20px;
  margin-bottom: 50px;
  text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
