$bg: pink
$font: TimesNewRoman
$b: bold
$hcolor: red
$subcolor: maroon




h1
	font-family: $font
	color: $hcolor

h2
	font-family: $font
	color: $subcolor

h4
	font-weight: $b
	color: $subcolor

#c1
	background-color: $bg

#first img
	float: left
	display: inline-block
	padding-right: 30px
	width: 45%

#paragraph2
	margin-left: 3px

.container
	margin-top: 50px

.socM
	background-color: $bg
	padding-top: 50px
	padding-bottom: 40px
	text-decoration: underline
	color: black


#What
	background-color: $bg
	padding: 20px

#ul1
	margin-left: -20px
	


footer
	background-color: $bg
	padding: 20px
	margin-bottom: 50px

	#foot
	text-decoration: underline
	


