$bg: pink
$font: 'Times New Roman' 
$b: bold
$hcolor: red
$subcolor: maroon


=design
	font-family: $font
	color: $hcolor

=design2
	color: $subcolor
	font-weight: $b

=ground
	background-color: $bg

h1
	+design

h2
	+design

h4
	+design2

#c1
	+ground

#first img
	float: left
	display: inline-block
	padding-right: 30px
	width: 45%

#paragraph2
	margin-left: 3px

.container
	margin-top: 50px



.socM
	+ground
	padding-top: 50px
	padding-bottom: 40px
	text-decoration: underline
	color: black


#What
	background-color: $bg
	padding: 20px

#ul1
	margin-left: -20px
	


footer
	background-color: $bg
	padding: 20px
	margin-bottom: 50px

	#foot
	text-decoration: underline
	



